@media (max-width:1024px) {
    .notice__section{
        display: none;
    }

    .banner__download{
        display: none;
    }

    .pcrequirements{
        display: none;
    }

    .download__section--game{
        margin-bottom: 550px;
    }
}